.instruction__container {
    width: 80%;
}

.instruction__container button {
    border: none;
    background-color: #ff8500;
}

.instruction__container button:hover {
    background-color: #fd992e;
}

.instruction__container h2, .instruction__container p {
    color: #3b455a;
}

.instruction__container span {
    color: #ff8500;
}

@media screen and (min-width: 960px) {
    .instruction__container {
        padding: 50px 0;
        width: 80%;
    }
}